[submodule "aotus"]
	path = aotus
	url = ../aotus.git
[submodule "tem"]
	path = tem
	url = ../tem-source.git
[submodule "polynomials"]
	path = polynomials
	url = ../polynomials.git
[submodule "bin"]
	path = bin
	url = ../apes-bin.git
[submodule "atl"]
	path = atl
	url = ../ateles-source.git
	branch = nogroup
