[submodule "aotus"]
	path = aotus
	url = ../aotus.git
[submodule "tem"]
	path = tem
	url = ../tem-source.git
[submodule "polynomials"]
	path = polynomials
	url = ../polynomials.git
	branch = branch/feature/openmp
[submodule "bin"]
	path = bin
	url = ../apes-bin.git
[submodule "atl"]
	path = atl
	url = ../ateles-source.git
	branch = openmp
[submodule "pysys-extensions"]
	path = pysys-extensions
	url = ../apes-pysys-extensions.git
