[submodule "aotus"]
	path = aotus
	url = git@github.com:apes-suite/aotus.git
[submodule "tem"]
	path = tem
	url = git@github.com:apes-suite/tem-source.git
[submodule "polynomials"]
	path = polynomials
	url = git@github.com:apes-suite/polynomials.git
[submodule "bin"]
	path = bin
	url = git@github.com:apes-suite/apes-bin.git
[submodule "atl"]
	path = atl
	url = git@github.com:apes-suite/ateles-source.git
